<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  <div class="nav">
    <i class="fa fa-bars nav-item navigation-btn" id="navigation-btn" aria-hidden="true"></i>
    <h2>Studio</h2>
    <input type="text" class="search nav-item" placeholder="&#128269; Search" name="" value="">
    <div class="nav-right">
      <i class="fa fa-bell" aria-hidden="true"></i>
      <i class="fa fa-user-circle-o user nav-item" aria-hidden="true"></i>
    </div>
  </div>
  <div class="navigation" id="navigation" style="display: none;">
    <h4 class="nav-title">Navigation</h4>
    <a href="#" class="nav-item"><i class="icon fa fa-laptop" aria-hidden="true"></i>Dashboard</a>
    <a href="#" class="nav-item"><i class="icon fa fa-pie-chart" aria-hidden="true"></i>Analytics</a>
    <a href="#" class="nav-item dropdown"><i class="icon fa fa-envelope" aria-hidden="true"></i>Email<i class="fa fa-angle-down dropdown-arrow" aria-hidden="true"></i></a>
    <div class="dropdown-container">
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 1</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 2</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 3</a>
    </div>
    <h4 class="nav-title">Components</h4>
    <a href="#" class="nav-item"><i class="icon fa fa-qrcode" aria-hidden="true"></i>Widgets</a>
    <a href="#" class="nav-item dropdown"><i class="icon fa fa-heart" aria-hidden="true"></i>UI Kits<i class="fa fa-angle-down dropdown-arrow" aria-hidden="true"></i></a>
    <div class="dropdown-container">
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 1</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 2</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 3</a>
    </div>
    <a href="#" class="nav-item dropdown"><i class="icon fa fa-file-text" aria-hidden="true"></i>Forms<i class="fa fa-angle-down dropdown-arrow" aria-hidden="true"></i></a>
    <div class="dropdown-container">
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 1</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 2</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 3</a>
    </div>
    <a href="#" class="nav-item dropdown"><i class="icon fa fa-table" aria-hidden="true"></i>Tables<i class="fa fa-angle-down dropdown-arrow" aria-hidden="true"></i></a>
    <div class="dropdown-container">
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 1</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 2</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 3</a>
    </div>
    <a href="#" class="nav-item dropdown"><i class="icon fa fa-bar-chart" aria-hidden="true"></i>Charts<i class="fa fa-angle-down dropdown-arrow" aria-hidden="true"></i></a>
    <div class="dropdown-container">
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 1</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 2</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 3</a>
    </div>
    <a href="#" class="nav-item"><i class="icon fa fa-map-marker" aria-hidden="true"></i>Map</a>
    <a href="#" class="nav-item dropdown"><i class="icon fa fa-code-fork" aria-hidden="true"></i>Layout<i class="fa fa-angle-down dropdown-arrow" aria-hidden="true"></i></a>
    <div class="dropdown-container">
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 1</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 2</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 3</a>
    </div>
    <a href="#" class="nav-item dropdown"><i class="icon fa fa-window-maximize" aria-hidden="true"></i>Pages<i class="fa fa-angle-down dropdown-arrow" aria-hidden="true"></i></a>
    <div class="dropdown-container">
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 1</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 2</a>
      <a href="#" class="nav-item"><i class="icon fa fa-picture-o" aria-hidden="true"></i>Item 3</a>
    </div>
    <h4 class="nav-title">Users</h4>
    <a href="#" class="nav-item"><i class="icon fa fa-user-circle-o" aria-hidden="true"></i>Profile</a>
    <a href="#" class="nav-item"><i class="icon fa fa-calendar" aria-hidden="true"></i>Calender</a>
    <a href="#" class="nav-item"><i class="icon fa fa-cogs" aria-hidden="true"></i>Setting</a>
    <a href="#" class="nav-item"><i class="icon fa fa-question-circle-o" aria-hidden="true"></i>Helper</a>
  </div>
  <div class="main">
    <div class="div0">
      <div class="weekly-earning">
        <h3>Weekly Earning</h3>
        <h2 class="amount">$2,999.9</h2>
        <small>32% increase compared to last week</small>
        <div class="inline">
          <i class="fa fa-shopping-basket icon1" aria-hidden="true"></i>
          <h5>Store sales</h5>
          <h4 class="amount">$1,6890</h4>
        </div>
        <div class="inline">
          <i class="fa fa-retweet icon1" aria-hidden="true"></i>
          <h5>Referal sales</h5>
          <h4 class="amount">$700.00</h4>
        </div>
        <button type="button" name="button" class="btn"><i class="fa fa-money" aria-hidden="true"></i> Withdraw money</button>
        <small>It usually takes 3 - 5 business days to transfer the earning to your account</small>
      </div>
    </div>
    <div class="div0">
      <div class="new-orders">
        <h3>New Orders</h3>
        <p class="amount">56</p>
        <progress id="file" value="32" max="100"></progress>
        <small>16% increase</small>
        <small>Compare to last week</small>
        <a href="#">veiw report</a>
      </div>
      <div class="unread-mail">
        <h3>Unread mail</h3>
        <p class="amount">30</p>
        <progress id="file" value="32" max="100"></progress>
        <small>5% decrease</small>
        <small>Compare to last week</small>
        <a href="#">veiw report</a>
      </div>
      <div class="page-visitors">
        <h3>Page visitors</h3>
        <p class="amount">60.5k</p>
        <progress id="file" value="32" max="100"></progress>
        <small>33% increase</small>
        <small>Compare to last week</small>
        <a href="#">veiw report</a>
      </div>
      <div class="page-views">
        <h3>Page views</h3>
        <p class="amount">320.4k</p>
        <progress id="file" value="32" max="100"></progress>
        <small>20% increase</small>
        <small>Compare to last week</small>
        <a href="#">veiw report</a>
      </div>
    </div>
    <div class="div0">
      <div class="user-data">
        <div class="total-users">
          <h3>Total Users</h3>
          <p>Store user registration</p>
          <i class="fa fa-repeat refresh" aria-hidden="true"></i>
          <div class="inline">
            <p class="amount">184,593</p>
            <small>&plus; 20%</small>
          </div>
          <div class="inline">
            <i class="fa fa-user-circle-o icon1" aria-hidden="true"></i>
          </div>

        </div>
        <div class="social-media">
          <h3>Social Media</h3>
          <p>Facebook stats overview</p>
          <i class="fa fa-repeat refresh" aria-hidden="true"></i>
          <div class="inline">
            <i class="fa fa-thumbs-up icon1" aria-hidden="true"></i>
            <p class="amount">306.5k</p>
            <small>Likes</small>
          </div>
          <div class="inline">
            <i class="fa fa-comments icon1" aria-hidden="true"></i>
            <p class="amount">27.5k</p>
            <small>Comments</small>
          </div>
        </div>
      </div>
      <div class="web-traffic">
        <h3>Web Traffic</h3>
        <p>Traffic source and category</p>
        <i class="fa fa-repeat refresh" aria-hidden="true"></i>
        <p class="amount">320,958</p>
        <small>&plus; 20.9%</small>
        <div class="bar">
          <div class="d-v"></div>
          <div class="o-s"></div>
          <div class="r-s"></div>
          <div class="s-n"></div>
          <div class="o"></div>
        </div>
        <ul>
          <li><i class="fa fa-circle direct-visits"></i>Direct visits  42.66%</li>
          <li><i class="fa fa-circle organic-search"></i>Organic search  36.80%</li>
          <li><i class="fa fa-circle referral-sites"></i>Referral sites  15.34%</li>
          <li><i class="fa fa-circle social-networks"></i>Social networks  9.20%</li>
          <li><i class="fa fa-circle others"></i>Others  5%</li>
        </ul>
      </div>

    </div>
    <div class="div0">
      <div class="sales-analytics">
      <i class="fa fa-repeat refresh" aria-hidden="true"></i>
        <h3>Sales Analytics</h3>
        <p>Weekly sales performance chart</p>
        <div class="" id="chart">

        </div>
      </div>
    </div>
    <div class="div0">
      <div class="best-seller">
        <h3>Best seller</h3>
        <p>Top 3 product sales this week</p>
        <a href="#" class="refresh">see all</a>
        <table class="top-sales">
          <% topSales.forEach((item) => { %>
          <tr>
            <td>
              <img src="" alt="">
            </td>
            <td class="description">
              <div class="">
                <p><%=item.name%></p>
                <small>$ <%=item.price%></small>
              </div>
            </td>
            <td class="sales">
              <div class="">
                <p><%=item.sales%></p>
                <small>sales</small>
              </div>
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
    </div>
    <div class="div0">
      <div class="transaction">
        <h3>Transaction</h3>
        <a href="#" class="refresh">see all</a>
        <p>Latest Transaction History</p>
        <table class="latest-transaction">
          <tr>
            <td>No</td>
            <td class="order-details">Order Details</td>
            <td class="status">Status</td>
            <td class="price">Amount</td>
          </tr>
          <% latestSales.forEach((sale, index) => { %>
            <tr>
              <td><p><%=index + 1%></p></td>
              <td class="order-details">
                <div class="">
                <p><%=sale.name%></p>
                <small><%=sale.time%> minutes ago</small>
                </div>
              </td>
              <%if(sale.status === "success"){%>
                <td class="status"><p class="success"><%=sale.status%></p></td>
              <%} else if (sale.status === "pending") {%>
                <td class="status"><p class="pending"><%=sale.status%></p></td>
              <%} else if (sale.status === "cancelled") { %>
                <td class="status"><p class="cancelled"><%=sale.status%></p></td>
              <%}%>
              <td class="price"><p>$ <%=sale.amount%></p></td>
            </tr>
          <% })%>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://kit.fontawesome.com/42d4c8c9bc.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    let navigationBtn = document.getElementById("navigation-btn");
    navigationBtn.addEventListener("click", function() {
      let navigation = document.getElementById("navigation");
      if (navigation.style.display === "none") {
        navigation.style.display = "block"
      } else {
        navigation.style.display = "none"
      }
    })

    let dropdownBtn = document.getElementsByClassName("dropdown");
    let i;
    for(i of dropdownBtn) {
      i.nextElementSibling.style.display = "none"
      i.addEventListener("click", function() {
        let dropdown = this.nextElementSibling;
        if (dropdown.style.display == "none") {
          dropdown.style.display = "block";
        } else {
          dropdown.style.display = "none";
        }
      });
    }

    google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales'],
          ['2004',  1000],
          ['2005',  1170],
          ['2006',  660],
          ['2007',  1030]
        ]);

        var options = {
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById("chart"));

        chart.draw(data, options);
      }
  </script>
</body>

</html>
